.container {
    width: 1300px;
    margin: 150px auto;
    box-sizing: border-box;
}

.div1 {
    background-color: teal;
    width: 400px;
    height: 200px;
    float: left;
    margin-right: 20px;
    text-align: center;
    color: white;
    font-size: 25px;
}
